:root {
    --color-green: #27db30bd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #aeb4bd9c;
    font-family: 'Inconsolata', monospace, sans-serif;
}

.flex {
    display: flex;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.header-element {
    width: 8rem;

    padding: 0.5rem;
    border-radius: 1rem;

    text-align: center;
    font-size: 1.1rem;

    background: var(--color-green);
}

header {
    background-color: var(--color-green);
    margin-bottom: 1.5rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border-bottom: 0.2rem solid #73460385;
}

.avatar {
    font-size: 2em;
    color: rgb(68, 66, 66);
}

.sudoku-area {
    width: min(90vw, 630px);
    margin: auto;
}

.stats {
    margin-bottom: 1.2rem;
}

#sudoku-board {
    border-spacing: 0px;
    /*This allows table rows to have their borders styled: https://stackoverflow.com/a/10040881/9921703*/
    border-collapse: collapse;
    border: 2px solid black;
    margin: auto;

    width: 100%;
    height: min(90vw, 580px);

    font-size: 1.5rem;
}

.sudoku td {
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    text-align: center;
    margin: 0%;
}

.sudoku td:hover {
    background-color: mediumpurple;
}

.sudoku td:active {
    background-color: rgba(147, 112, 216, 0.575);
}

.active-cell {
    background-color: rgba(147, 112, 216, 0.719);
}

.related-to-active-cell {
    background-color: rgba(169, 145, 216, 0.377);
}

/* This rule makes the right border of subregions thicker */
.sudoku td:nth-child(3n):nth-child(-n+6) {
    border-right: 2px solid black;
}

/* This rule makes the bottom border of subregions thicker */
.sudoku tr:nth-child(3n):nth-child(-n+6) {
    border-bottom: 2px solid black !important;
}