.flex {
    display: flex;
    align-items: center;
}

body {
    margin: 0px;
    box-sizing: border-box;
}

h1, h2 {
    padding: 0px;
    margin: 0px;
}

.space-between {
    justify-content: space-between;
}

.header-element {
    width: 90px;
    height: 20px;
    padding: 5px;
    border-radius: 50px;
    text-align: center;
    background: #7b68ee47;
}

header {
    margin-bottom: 1%;
    background-color: rgb(248, 243, 187);
    padding: 10px;
    border-radius: 5px;
    border-bottom: 2px solid #73460385;
}

.avatar {
    font-size: 2em;
    color: Mediumslateblue;
}

.sudoku-area {
    width: 100%;
}

.main-container {
    width: 630px;
    margin: auto;
}

.stats {
    margin-bottom: 2%;
}

.sudoku {
    border-spacing: 0px;
    /*This allows table rows to have their borders styled: https://stackoverflow.com/a/10040881/9921703*/
    border-collapse: collapse;
    margin: auto;
    clear: both;
    height: 480px;
    width: 100%;
    border: 2px solid black;
}

.sudoku td {
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    text-align: center;
    margin: 0%;
}

.sudoku td:hover {
    background-color: mediumpurple;
}

.sudoku td:active {
    background-color: rgba(147, 112, 216, 0.575);
}

.active-cell {
    background-color: rgba(147, 112, 216, 0.719);
}

.related-to-active-cell {
    background-color: rgba(169, 145, 216, 0.377);
}

/* This rule makes the right border of subregions thicker */
.sudoku td:nth-child(3n):nth-child(-n+6) {
    border-right: 2px solid black;
}

/* This rule makes the bottom border of subregions thicker */
.sudoku tr:nth-child(3n):nth-child(-n+6) {
    border-bottom: 2px solid black !important;
}